/* https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00 - Color Palette */
/* 131112 - Smoky Black, FFE74C - Minion Yellow, 7DC95E - Mantis
EDAE49 - Sunray, F9C80E - Jonquil
*/

/* https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
@import url("https://fonts.googleapis.com/css?family=Archivo|Questrial|Baloo+2");

:root {
  --bg-color: #14213d;
  --menu-bg-color: #05668d;
  --menu-text-color: #000000;
  --text-color: #e5e5e5;
  --title-color: #fca311;
}

p {
  color: var(--text-color);
}

.titleFormat {
  color: var(--title-color);
}

.Portfolio {
  text-align: center;
  font-family: Archivo;
}

.Portfolio-header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ebf2fa;
}
