/* https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00 - Color Palette */
/* 131112 - Smoky Black, FFE74C - Minion Yellow, 7DC95E - Mantis
EDAE49 - Sunray, F9C80E - Jonquil
*/
@import url("https://fonts.googleapis.com/css?family=Archivo|Questrial|Baloo+2");

:root {
  --bg-color: #427aa1;
  --menu-color: #05668d;
  --text-color: #ebf2fa;
  --title-color: #e6cb20;
}

p {
  color: #ebf2fa;
}

.titleFormat {
  color: var(--title-color);
}

.App {
  text-align: center;
  font-family: Archivo;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ebf2fa;
}

.App-link {
  color: #a5be00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
